@page "/"
@using ClosedXML.Excel
@using System.IO

<div>
    <label>ファイルパス</label>
    <input type="text" @bind="FilePath" />
    <button @onclick="SetWorkSheetName">Excelを開く</button>
</div>
<div>
    <label>ワークシート名</label>
    <input type="text" @bind="WorkSheetName" />
</div>

<div>
    <label>ユーザID</label>
    <input type="text" @bind="UserNo" />
</div>

<button class="btn btn-primary" @onclick="ShowUserInfo">ユーザ検索</button>

<div>
    <p>@ResultMessage</p>
</div>

@if (ImportWb == null)
{
    <p><em>@FileLoading </em></p>
}
else
{
    @if (!(DataBody == null))
    {
        var Header = new List<string>();
        @for (int rng_i = 1; rng_i < 36; rng_i++)
        {
            Header.Add(ImportWb.Worksheet(WorkSheetName).Cell(2, rng_i).Value.ToString());
        }
        <p>@DataBody[1]</p>
        <table class="table">
            <th>項目</th>
            <th>入力</th>
            <tbody>
                @for (int i = 1; i < Header.Count; i++)
                {
                    <tr>
                        <td>@Header[i]</td>
                        <td>@DataBody[i]</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<button class="btn btn-primary" @onclick="ChangeValue">変更</button>

<hr />
<p>Welcome to your new app.</p>

@code {
    private string ImportFileName;
    private string FilePath;
    private string ResultMessage;
    private string FileLoading;
    private XLWorkbook ImportWb;
    private string WorkSheetName;
    private string UserName;
    private string UserNo;
    private string cValue;
    private int cCnt;
    private List<string> DataBody;
    private void SetWorkSheetName()
    {
        if (FilePath is null)
        {
            ResultMessage = "ファイルパスが入力されていません。";
        }
        else
        {
            FilePath = FilePath.Trim(new char[] { '"' });
            ImportFileName = Path.Combine(FilePath);
            if (File.Exists(ImportFileName))
            {
                FileLoading = "Loading";
                try
                {
                    ImportWb = new(ImportFileName);
                    ResultMessage = "ファイルを開きました。";
                }
                catch (System.Exception)
                {
                    ResultMessage = "Excelファイルを指定してください。";
                    FileLoading = "Error";
                    return;
                }
                WorkSheetName = ImportWb.Worksheet(1).Name;
            }
            else
            {
                ResultMessage = "ファイルパスが不正です。";
                FileLoading = "Error";
            }
        }
    }
    private void ShowUserInfo()
    {
        // ユーザ番号を取得
        if (UserNo is null)
        {
            ResultMessage = "ユーザ名が入力されていません。";
        }
        else
        {
            DataBody = new List<string>();
            // 番号が記載されているところから取得
            for (int cnt_i = 3; ; cnt_i++)
            {
                cValue = ImportWb.Worksheet(WorkSheetName).Cell(cnt_i, 1).Value.ToString();
                if (cValue == UserNo)
                {
                    cCnt = cCnt + cnt_i;
                    UserName = ImportWb.Worksheet(WorkSheetName).Cell(cCnt, 3).Value.ToString();
                    for (int cnt_j = 1; cnt_j < 36; cnt_j++)
                    {
                        DataBody.Add(ImportWb.Worksheet(WorkSheetName).Cell(cCnt, cnt_j).Value.ToString());
                    }
                    break;
                }
                if (cnt_i > 120)
                {
                    UserName = "結果なし";
                    DataBody = null;
                    break;
                }
            }
        }
    }
    private void ChangeValue()
    {
        // 書き換える
        for (int cnt_j = 1; cnt_j < DataBody.Count; cnt_j++)
        {

        }
    }

}