@page "/"
@using ClosedXML.Excel
@using System.IO

<h1>ExcelのWorkSheetを表示</h1>
<input type="text" @bind="InputValue" />

<button class="btn btn-primary" @onclick="ShowBookName">test</button>
<p>@ResultMessage</p>

@if (ImportWb == null)
{
    <p><em>@FileLoading </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>SheetName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var SheetName in ImportWb.Worksheets)
            {
                <tr>
                    <td>@SheetName.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<p>Welcome to your new app.</p>

@code {
    private string ImportFileName;
    private string InputValue;
    private string ResultMessage;
    private string FileLoading;
    private XLWorkbook ImportWb;

    private void ShowBookName()
    {
        if (InputValue is null)
        {
            ResultMessage = "ファイルパスが入力されていません。";
        }
        else
        {
            InputValue = InputValue.Trim(new char[] { '"' });
            ImportFileName = Path.Combine(InputValue);
            if (File.Exists(ImportFileName))
            {
                FileLoading = "Loading";
                try
                {
                    ImportWb = new(ImportFileName);
                    ResultMessage = "ファイルを開きました。";
                }
                catch (System.Exception)
                {
                    ResultMessage = "Excelファイルを指定してください。";
                    FileLoading = "Error";
                }
            }
            else
            {
                ResultMessage = "ファイルパスが不正です。";
                FileLoading = "Error";
            }

        }
    }
}